:root {
    --tamañoTexto: 1rem;
    --colorTexto: #404040;

    --colorFondoHeader: #ffffff;
    --colorBordeHeader: #f2f2f2;
    --tamañoTextoLogo: 1.6rem;
    --tamañoTextoMenu: 1.1rem;
    --tamañoLineaMenu: 50px;
    --colorFondoBoton: #4169e1;
    --tamañoTextoHamburguesa: 1.1rem;
    --escala: 1.05;

    --colorFondoMain: #fbfdfe;
    --colorInput: #666666;
    --colorBordeInput: #cccccc;

    --colorFondoFooter: #f2f2f2;
}
* {

}
/* body */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
}