/* footer */
footer {
    justify-content: center;
    height: 150px;
    font-size: 1.1rem;
    line-height: 1.5;
}
@media (max-width: 880px) {
    section.tarjetas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    section.tarjetas {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 568px) {
    .busqueda h2 {
        font-size: 2rem;
    }
    .busqueda p {
        font-size: 1rem;
    }
    section.navegacion a {
        font-size: 1rem;
    }
}